body {
  font-family: "Ysabeau Office", sans-serif;
  margin: 0px;
}
body .main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .main-wrapper header {
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
  background-color: #993955;
}
body .main-wrapper header h1 {
  font-size: 40px;
  color: #e9ecf5;
}
body .main-wrapper .list-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
body .main-wrapper .list-area .input-wrapper {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
body .main-wrapper .list-area .input-wrapper label {
  margin-right: 10px;
}
body .main-wrapper .list-area .input-wrapper input {
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #993955;
}
body .main-wrapper .list-area .input-wrapper .user-input {
  width: 300px;
}
body .main-wrapper .list-area .input-wrapper .submit {
  font-family: "Ysabeau Office", sans-serif;
  width: 100px;
  background-color: #e9ecf5;
  transition: ease-in-out 0.5s;
}
body .main-wrapper .list-area .input-wrapper .submit:hover {
  color: #e9ecf5;
  background-color: #993955;
  border: 1px solid #ccd6eb;
  cursor: pointer;
}
body .main-wrapper .list-area .to-do-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .main-wrapper .list-area .to-do-list-wrapper #itemDiv {
  width: 500px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #ccd6eb;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  transition: ease-in-out 0.5s;
}
body .main-wrapper .list-area .to-do-list-wrapper #itemDiv:hover {
  border-radius: 5px;
  background-color: #e9ecf5;
  cursor: pointer;
}
body .main-wrapper .list-area .to-do-list-wrapper #itemDiv div {
  z-index: 100;
  position: absolute;
  left: 480px;
  color: #454545;
  font-size: 20px;
}
body .main-wrapper .list-area .to-do-list-wrapper #itemDiv div i {
  transition: ease-in-out 0.5s;
}
body .main-wrapper .list-area .to-do-list-wrapper #itemDiv div i:hover {
  color: #993955;
  cursor: pointer;
}
body .main-wrapper .list-area .completed-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
body .main-wrapper .list-area .completed-wrapper hr {
  width: 100%;
}
body .main-wrapper .list-area .completed-wrapper #completedTask {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: #e9ecf5;
  width: 500px;
  border-radius: 20px;
  background-color: #993955;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  transition: ease-in-out 0.5s;
  text-decoration: line-through;
}
body .main-wrapper .list-area .completed-wrapper #completedTask:hover {
  border-radius: 5px;
  background-color: #db7c98;
  cursor: pointer;
}
body .main-wrapper .list-area .completed-wrapper #completedTask div {
  z-index: 100;
  position: absolute;
  left: 480px;
  color: #454545;
  font-size: 20px;
}
body .main-wrapper .list-area .completed-wrapper #completedTask div i {
  transition: ease-in-out 0.5s;
}
body .main-wrapper .list-area .completed-wrapper #completedTask div i:hover {
  color: #e9ecf5;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */